	<form action="/" class="cookie hide">

		<div class="center">

			<div class="cookie__box">

				<div class="cookie__text">

					<h2 class="h5">
						Your privacy
					</h2>

					<p>
						We use cookies on this site to enhance your user experience. By continuing, you consent to our use of cookies.  In case you are customer from EU/EEA — you agree with <a href="/cookies-policy" target="_blank">Cookie Policy</a>, if you are customer from US - with <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
					</p>

					<div class="cookie__toggle-checkbox">

						<label class="toggle-checkbox">

							<input class="toggle-checkbox__input" type="checkbox" name="AnalyticsCookies">

							<span class="toggle-checkbox__label">
								Analytics cookies
							</span>

						</label>

						<span class="cookie__toggle-checkbox-sep"></span>

						<label class="toggle-checkbox">

							<input class="toggle-checkbox__input" type="checkbox" name="AdvertsitingCookies">

							<span class="toggle-checkbox__label">
								Advertsiting cookies
							</span>

						</label>

					</div>

				</div>

				<div class="cookie__btn">

					<button class="btn btn--small">
						Accept
					</button>

				</div>

			</div>

		</div>

	</form>