	<footer class="footer">

		<div class="center">

			<div class="footer__flex">

				<div class="footer__col footer__col--first">

					<a href="{{ url }}" class="footer__logo" title="{{ site }}">

						<img src="/img/logo--black.svg" alt="{{ site }}" width="218" height="44">

					</a>

					<p class="footer__text">
						Услуга по оформлению полиса комплексного ипотечного страхования предоставляется партнером ООО «ВИРТУ БРОКЕР» (ОГРН 1175029010309).
					</p>

					<p class="footer__text">
						Экономия при приобретении полиса достигается за счет сравнения предложений в разных страховых компаниях.
					</p>

				</div>

				<div class="footer__col footer__col--menu">

					<div class="footer__menu">

						<h4>
							Меню
						</h4>

						<ul>

							<li>
								<a href="{{ urlMain }}#first-screen">О сервисе</a>
							</li>
							<li>
								<a href="{{ urlMain }}#partner">Партнеры</a>
							</li>
							<li>
								<a href="{{ urlMain }}#why-we">Преимущества</a>
							</li>
							<li>
								<a href="{{ urlMain }}#review">Отзывы</a>
							</li>

						</ul>

					</div>

					<div class="footer__menu">

						<h4>
							Документы
						</h4>

						<ul>
							<li>
								<a href="{{ url }}/docs/soglasiepd/" target="_blank">Согласия на обработку персональных данных</a>
							</li>
							<li>
								<a href="{{ url }}/docs/politikapd/" target="_blank">Политика обработки персональных данных</a>
							</li>
							<li>
								<a href="{{ url }}/docs/soglashenie/" target="_blank">Пользовательского соглашения</a>
							</li>
							<li>
								<a href="https://datadev.ru/" target="_blank" rel="nofollow noopener">О Компании</a>
							</li>
						</ul>

					</div>

				</div>

				<div class="footer__col footer__col--last">

					<div class="footer__tel">

						<h4>
							Клиентская поддержка:
						</h4>

						<a href="tel:+74995069105">
							+7 (499) 506 91 05
						</a>

					</div>

					<div class="footer__partner">

						<h4>
							По вопросам сотрудничесва:
						</h4>

						<p>
							<a href="mailto:partner@insur.shop">partner@insur.shop</a>
						</p>

					</div>

				</div>

			</div>

			<p class="footer__copyright">
				© 2020. Все права защищены.
			</p>

		</div>

	</footer>