	<footer class="footer">

		<div class="center">

			<div class="footer__flex">

				<div class="footer__column footer__column--company">

					<p class="footer__head">
						Company
					</p>

					<ul class="footer__menu">
						<li><a href="/">About us</a></li>
						<li><a href="https://blog.velvetplatform.com/">FAQ</a></li>
						<li><a href="/">Blogs</a></li>
						<li><a href="/partners/">Partners</a></li>
						<li><a href="/">Contact Us</a></li>
					</ul>

				</div>

				<div class="footer__column footer__column--legal">

					<p class="footer__head">
						Legal
					</p>

					<ul class="footer__menu">
						<li><a href="/">Legal notifications</a></li>
						<li><a href="/">Imprint/Licensing</a></li>
						<li><a href="/terms-of-use/">Terms of Use</a></li>
						<li><a href="/privacy-policy/">Privacy Policy</a></li>
						<li><a href="/cookies-policy/">Cookies Policy</a></li>
					</ul>

				</div>

				<div class="footer__column footer__column--about">

					<p class="footer__head">
						About our partners
					</p>

					<div class="footer__tab">

						<div class="footer__tab-nav">

							<button class="button footer__tab-btn is-open" type="button">
								PayPugs
							</button>

							<button class="button footer__tab-btn" type="button">
								Sum & Substance
							</button>

							<button class="button footer__tab-btn" type="button">
								European Coworking Assembly (ECA)
							</button>

						</div>

						<p class="footer__info footer__tab-item is-open">

							PayPugs​ is a financial platform for business/individuals, which aims to provide a seamless and personalised experience. <a href="/partners/">More details</a>

						</p>

						<p class="footer__info footer__tab-item">

							SumSub​ empowered compliance and anti-fraud teams to fight money laundering, terrorist financing, and online fraud. <a href="/partners/">More details</a>

						</p>

						<p class="footer__info footer__tab-item">

							The ECA supports the coworking community in Europe and the United Kingdom (UK) which embraces its role as the infrastructure of the new economy. <a href="/partners/">More details</a>

						</p>

					</div>

				</div>

			</div>

			<div class="footer__bottom">

				<p class="footer__copyright">
					Copyright © 2020 Velvet Company
				</p>

				<div class="footer__social">

{% include "template/social.html" %}

				</div>

			</div>

		</div>

	</footer>