	<footer class="footer">

		<div class="center">

			<p class="footer__head">
				Need some help?
			</p>

			<div class="footer__email">

				<a href="mailto:info@velvet.li">info@velvet.li</a>

			</div>

			<div class="footer__social">

{% include "template/social.html" %}

			</div>

			<div class="footer__flex">

				<div class="footer__column footer__column--company">

					<p class="footer__head">
						Company
					</p>

					<ul class="footer__menu">
						<li><a href="/">About us</a></li>
						<li><a href="/">FAQ</a></li>
						<li><a href="/">Blogs</a></li>
						<li><a href="/">Contact Us</a></li>
					</ul>

				</div>

				<div class="footer__column footer__column--legal">

					<p class="footer__head">
						Legal
					</p>

					<ul class="footer__menu">
						<li><a href="/">Legal notifications</a></li>
						<li><a href="/">Imprint/Licensing</a></li>
						<li><a href="/privacy-policy/">Privacy Policy</a></li>
						<li><a href="/cookies-policy/">Cookies Policy</a></li>
					</ul>

				</div>

				<div class="footer__column footer__column--about">

					<p class="footer__head">
						About our partners
					</p>

					<div class="footer__tab">

						<div class="footer__tab-nav">

							<button class="button footer__tab-btn is-open" type="button">
								PayPugs
							</button>

							<button class="button footer__tab-btn" type="button">
								Sum & Substance
							</button>

							<button class="button footer__tab-btn" type="button">
								European Coworking Assembly (ECA)
							</button>

						</div>

						<p class="footer__info footer__tab-item is-open">

							The ECA supports the coworking community in Europe and the United Kingdom (UK) which embraces its role as the infrastructure of the new economy. <a href="/">Offical page</a>

						</p>

						<p class="footer__info footer__tab-item">


						</p>

						<p class="footer__info footer__tab-item">

						</p>

					</div>

				</div>

			</div>

			<p class="footer__copyright">
				Copyright © 2020 Velvet Company
			</p>

		</div>

	</footer>