	<header class="header">

		<div class="center">

			<a href="{{ url }}" class="header__logo" title="{{ site }}">

				<img src="/img/logo.svg" alt="{{ site }}" width="128" height="40">

			</a>

			<div class="header__social hidden-sm">

{% include "template/social.html" %}

			</div>

			<div class="header__btns">

				<button class="btn btn--small" type="button" data-modal="subscribe">
					Join Up!
				</button>

			</div>

			<div class="visible-sm">

				<button class="button btn-menu-toggle" type="button">
					menu
				</button>

			</div>

		</div>

	</header>