		<nav class="menu hidden-md">

			<ul class="menu__list">

				<li class="menu__item">

					<a class="menu__link" href="{{ urlMain }}#first-screen">О сервисе</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ urlMain }}#partner">Партнеры</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ urlMain }}#why-we">Преимущества</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ urlMain }}#review">Отзывы</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{{ urlMain }}#faq">Полезная информация</a>

				</li>

			</ul>

		</nav>