	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--subscribe">

				<form class="modal-form form-subscribe" action="https://velvet.us2.list-manage.com/subscribe/post?u=e75c1b6e32e210592c19a4eb4&amp;id=4aa0b68406" id="form-subscribe-modal" method="post">

					<input type="hidden" name="b_e75c1b6e32e210592c19a4eb4_4aa0b68406">

					<p class="modal-form__text">
						If you are interested in our services as client or partner, please submit your email address below and we will contact you as soon as we are live. It will be soon.
					</p>

					<div class="modal-form__input">

						<input class="input input--border form-subscribe__input" placeholder="Enter your email adress" required="required" aria-label="Email" type="email" name="EMAIL">

						<svg class="ico-valid" width="24" height="24" viewBox="0 0 24 24" >
							<path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-5-9a5 5 0 1010 0h-2a3 3 0 01-6 0H7zm1-2a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm8 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"/>
						</svg>

						<svg class="ico-invalid" width="24" height="24" viewBox="0 0 24 24">
							<path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm-5-5h2a3 3 0 016 0h2a5 5 0 10-10 0zm1-6a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm8 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"/>
						</svg>

					</div>

					<div class="modal-form__input">

						<label class="checkbox">

							<input type="checkbox" class="checkbox__input" required="required">

							<span class="checkbox__label">
								I've read and understand the <a href="/cookies-policy/" target="_blank">Cookie Policy</a>
							</span>

						</label>

					</div>

					<button class="modal-form__btn btn btn--middle form-subscribe__submit">
						Subscribe
					</button>

					<span class="form-subscribe__result"></span>

				</form>

			</div>

		</div>

	</div>