	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--login">

				<form class="modal-form form" action="/" novalidate="novalidate">

					<div class="form__done-hidden">

						<h3 class="modal-form__title">
							Login
						</h3>

						<p class="modal-form__text">
							Welcome to Paypugs Client Portal.
						</p>

						<div class="modal-form__input">

							<input class="input" placeholder="Email" required="required" aria-label="Email" type="email">

						</div>

						<div class="modal-form__input">

							<input class="input" placeholder="Password" required="required" aria-label="Password">

						</div>

						<button class="modal-form__btn btn form__submit">
							Send
						</button>

					</div>

				</form>

			</div>

		</div>

	</div>