{% set title = "Cookie Policy" %}

{% set description = "Like many websites, www.velvet.li uses cookies to improve the way the sites function for its visitors and to provide the websites with information." %}

{% set urlPage = "cookies-policy" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-text">

			<header class="page-text__header">

				<h1>
					{{ title }}
				</h1>

				<p>
					General Terms<br>Version: Updated Sep 2020
				</p>

			</header>

			<div class="page-text__body">

{% include urlPage + "/body.html" %}

			</div>

		</article>

	</div>

{% endblock %}