{% set title = "Terms of Use" %}

{% set description = "This Agreement sets out the terms and conditions on which we will provide you with Services from time to time." %}

{% set urlPage = "terms-of-use" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-text">

			<header class="page-text__header">

				<h1>
					{{ title }}
				</h1>

				<p>
					Version: 3.0 (27.10.2020)
				</p>

			</header>

			<div class="page-text__body">

{% include urlPage + "/body.html" %}

			</div>

		</article>

	</div>

{% endblock %}