.approach {

	&__bg {

		padding: 180px 0;
		color: #fff;
		background-color: var(--DarkPurple);
		border-radius: 24px;

	}

	&__box {

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 96px;

	}

	&__title {

		width: 500px;

	}

	&__intro {

		width: 500px;
		font-size: 18px;
		line-height: 30px;
		color: var(--HoverCoral);
		margin: 5px 0;

	}

	&__heading {

		margin-bottom: 48px;

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&-item {

			width: 280px;
			margin-bottom: 12px;
			font-weight: 300;
			font-size: 16px;
			line-height: 28px;

		}

		&-ico {

			width: 72px;
			height: 72px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--HoverCoral);
			margin: 24px 0;

			svg {

				fill: var(--color);

			}

			&--contact-us {

				background-color: var(--MainPurple);

				svg {

					fill: var(--HoverCoral);

				}

			}

		}

	}

	&__contact-us {

		display: flex;
		color: var(--HoverCoral);
		font-weight: 500;
		line-height: 16px;
		font-size: 16px;
		margin-top: 6px;

		svg {

			fill: var(--HoverCoral);
			stroke: var(--HoverCoral);
			margin-right: 10px;

		}

	}

}