.benefits {

	margin: 180px 0;

	@media ($mdWidth) {

		margin: 60px 0;

	}

	&__title {

		margin-bottom: 72px;
		max-width: 500px;

		@media ($mdWidth) {

			margin-bottom: 36px;

		}

	}

	&__list {

		display: flex;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

		&-item {

			width: 320px;

			@media ($mdWidth) {

				width: auto;
				margin-top: 24px;

				.h2 {

					margin-bottom: 6px;

				}

			}

			img {

				border-radius: 20px;
				display: block;
				margin-bottom: 24px;

				@media ($xsWidth) {

					width: 100%;
					object-fit: cover;

				}

			}

			.h2 {

				display: block;
				margin-bottom: 12px;

			}

			p {

				font-weight: 300;
				font-size: 16px;
				line-height: 28px;
				color: color(var(--DarkPurple) a(70%));

			}

		}

	}

}