.benefits {

	margin: 180px 0;

	@media ($smWidth) {

		margin: 60px 0;

	}

	&__title {

		margin-bottom: 168px;
		max-width: 500px;

		@media ($smWidth) {

			margin-bottom: 96px;

		}

	}

	&__list {

		display: flex;
		justify-content: space-between;

		@media ($smWidth) {

			display: block;

		}

		li {

			width: 320px;

			@media ($smWidth) {

				width: auto;
				margin-top: 96px;

			}

			.h2 {

				display: block;
				margin-bottom: 12px;

			}

			p {

				font-weight: 300;
				font-size: 16px;
				line-height: 28px;
				color: color(var(--DarkPurple) a(70%));

			}

		}

	}

}