.breadcrumbs {

	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;

	&__item {

		display: flex;
		align-items: center;

		font-size: 14px;
		line-height: 20px;
		color: var(--color);

		&::after {

			content: '';
			margin: 0 5px;
			width: 16px;
			height: 16px;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.9 8.557l-3.3-3.3.943-.942 4.243 4.242L6.543 12.8l-.942-.943 3.3-3.3z' fill='%233F2D44'/%3E%3C/svg%3E");

		}

		&:last-child::after {

			display: none;

		}

	}

	&__link {

		color: color(var(--color) a(50%));

	}

}