.cookie {

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 36px 0;
	z-index: 10;
	background-color: #f2ecef;

	margin: 24px;
	border-radius: 24px;

	@media ($mdWidth) {

		margin: 12px;
		padding: 24px 0;

	}

	@media ($smWidth) {

		margin: 0;
		border-radius: 0;
		padding: 18px 0;

	}

	&__box {

		display: flex;

		@media ($smWidth) {

			display: block;

		}

	}

	&__text {

		flex-grow: 1;
		padding-right: 40px;
		border-right: 1px solid color(var(--border) a(20%));

		@media ($smWidth) {

			border: 0;
			padding: 0;

		}

		p {

			margin: 10px 0 15px;
			font-size: 14px;
			line-height: 20px;

			a {

				text-decoration: underline;
				color: inherit;

				@media ($desktop) {

					&:hover {

						text-decoration: none;

					}

				}

			}

		}

	}

	&__btn {

		display: flex;
		flex-shrink: 0;
		align-items: center;
		padding-left: 40px;

		@media ($smWidth) {

			padding: 0;
			justify-content: center;

		}

	}

	&__toggle-checkbox {

		display: flex;

		@media ($smWidth) {

			display: block;
			margin: 20px 0;
			padding: 10px 0;
			border-top: 1px solid color(var(--color) a(7%));
			border-bottom: 1px solid color(var(--color) a(7%));

		}

		&-sep {

			width: 1px;
			height: 25px;
			background-color: color(var(--color) a(7%));
			margin: 0 20px;

			@media ($smWidth) {

				margin: 10px 0;
				height: 1px;
				width: 100%;
				display: block;

			}

		}

	}

}

.toggle-checkbox {

	display: block;
	position: relative;

	&__input {

		position: absolute;
		width: 40px;
		height: 24px;
		top: 0;
		right: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		font-size: 16px;
		line-height: 24px;
		padding-right: 60px;
		cursor: pointer;
		display: block;

		@media ($smWidth) {

			font-size: 14px;

		}

		&::before {

			position: absolute;
			width: 40px;
			height: 24px;
			top: 0;
			right: 0;
			background-color: var(--color);
			border-radius: 12px;
			transition: var(--transitionDefault);
			content: '';

		}

		&::after {

			position: absolute;
			width: 20px;
			height: 20px;
			top: 2px;
			right: 2px;
			content: '';
			border-radius: 50%;
			background-color: #fff;
			transform: translate3d(-16px, 0, 0);
			transition: var(--transitionDefault);

		}

	}

	&__input:checked + &__label {

		&::before {

			background-color: var(--green);

		}

		&::after {

			transform: translate3d(0, 0, 0);

		}

	}

}