* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
color: red !important;
}

html {

	min-height: 100%;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;

	&.scroll-behavior-off {

		scroll-behavior: auto;

	}

}

body {

	color: var(--color);
	min-width: 320px;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: scrollbar;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;
	background-color: var(--bg);

background-image: url(/css/1.png);
background-position: center 2px;


}

a {

	color: var(--HoverCoral);
	text-decoration: none;

	&:hover {

		cursor: pointer;
		text-decoration: none;

	}

}

::selection {

	color: #fff;
	background-color: var(--HoverCoral);

}

img {

	border: 0;
	position: relative;
	vertical-align: top;

}

li {

	list-style: none;
	position: relative;

}

svg {

	display: block;
	fill: var(--color);
	position: relative;
	transition: var(--transitionDefault);

}

.h0 {

	font-weight: 600;
	font-size: 60px;
	line-height: 72px;

}

.h1 {

	font-weight: 600;
	font-size: 48px;
	line-height: 60px;

}

.h2 {

	font-weight: 500;
	font-size: 20px;
	line-height: 30px;

}

.fade-in {

	opacity: 0.01;
	transform: translateY(40px);
	transition: transform 1.5s cubic-bezier(.19,1,.22,1), opacity 1s cubic-bezier(.19,1,.22,1);
	transition-delay: .2s;
	will-change: transform;

	&.is-show {

		transform: translateY(0);
		opacity: 1;

	}

	&--100 {

		transition-delay: 0.1s;

	}

	&--200 {

		transition-delay: 0.2s;

	}

	&--300 {

		transition-delay: 0.3s;

	}

	&--400 {

		transition-delay: 0.4s;

	}

	&--500 {

		transition-delay: 0.5s;

	}

	&--600 {

		transition-delay: 0.6s;

	}

	&--700 {

		transition-delay: 0.7s;

	}

	&--800 {

		transition-delay: 0.8s;

	}

	&--900 {

		transition-delay: 0.9s;

	}

}

/*
-----------------------------------------------------------------------------*/
.notsel {

	user-select: none;

}


main,
header,
footer,
section,
article,
aside,
time,
nav {

	display: block;
	position: relative;

}

.wrapper {

	flex-shrink: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	@media ($mdWidth) {


	}

	@media ($smWidth) {


	}

}

.main {

	flex-shrink: 0;
	flex-grow: 1;

}

/* hidden
-----------------------------------------------------------------------------*/
.hide {

	display: none !important;

}

.visuallyhidden {

	position: absolute !important;

	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;

	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;

}

a[href^="tel"],
.white-space-nowrap {

	white-space: nowrap;

}