.economy {

	margin: 180px 0;

	&__box {

		display: flex;
		justify-content: space-between;

	}

	&__img {

		width: 500px;

	}

	&__content {

		width: 500px;

	}

	&__title {

		margin-bottom: 60px;

	}

	&__list {

		font-weight: 300;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 60px;

		li {

			margin: 24px 0;
			max-width: 480px;
			padding-left: 38px;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.99' d='M11.17 17.43a1.08 1.08 0 01-.76-.31l-3.05-3.05a1.08 1.08 0 011.53-1.53l2.28 2.28 5.94-5.94a1.08 1.08 0 011.53 1.53l-6.7 6.7a1.08 1.08 0 01-.77.32z' fill='%23FCB49A'/%3E%3Cpath d='M13 2.17a10.83 10.83 0 100 21.66 10.83 10.83 0 000-21.66zm5.64 8.24l-6.7 6.7a1.08 1.08 0 01-1.53 0l-3.05-3.04a1.08 1.08 0 011.53-1.53l2.28 2.28 5.94-5.94a1.08 1.08 0 011.53 1.53z' fill='%237B4865'/%3E%3C/svg%3E");

		}

	}

}