.first-screen {

	position: relative;
	overflow: hidden;
	margin: 48px 0 0;

	@media ($smWidth) {

		margin: 40px 0 32px;

	}

	&__wrap {

		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__content {

		width: 500px;
		flex-shrink: 0;
		padding-top: 48px;

		@media ($mdWidth) {

			padding: 0;
			width: 100%;

		}

		@media ($smWidth) {

			.btn {

				width: 100%;

			}

		}

	}

	&__before {

		margin-bottom: 24px;
		color: var(--MainPurple);

		@media ($smWidth) {

			margin-bottom: 12px;

		}

	}

	&__text {

		margin-bottom: 72px;
		color: var(--DarkPurple);

		@media ($smWidth) {

			margin-bottom: 36px;

		}

	}

	&__img {

		width: 566px;
		height: 511px;
		position: relative;

		@media ($mdWidth) {

			margin: 38px auto;

		}

		@media ($smWidth) {

			width: 320px;
			height: 288px;

		}

		&-bg {

			position: absolute;
			left: 44px;
			bottom: -20px;

			@media ($mdWidth) {

				left: 10px;

			}

			@media ($smWidth) {

				left: 0;
				bottom: -11px;

			}

		}

	}

	&__picture {

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		@media ($smWidth) {

			width: 206px;
			height: 257px;
			object-fit: contain;
			object-position: bottom;
			right: 62px;

		}

	}

	&__foot {

		font-weight: 300;
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		margin: 80px auto;
		width: 720px;
		max-width: 100%;

		@media ($smWidth) {

			display: none;

		}

	}

}