.first-screen {

	position: relative;

	&__wrap {

		display: flex;
		margin: 56px 0 150px;
		align-items: flex-start;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;
			margin: 100px 0;

		}

	}

	&__content {

		max-width: 720px;

	}

	&__title {

		font-weight: bold;
		font-size: 60px;
		line-height: 72px;
		margin: 44px 0 24px;

		span {

			color: color(var(--color) a(50%));
			position: relative;

			&::after {

				position: absolute;
				width: 2px;
				top: 20px;
				right: 1px;
				bottom: 14px;
				content: '';
				background-color: var(--color);
				animation: cursor 0.8s infinite;

			}

		}

		svg {

			display: inline;
			margin-left: 5px;

		}

	}

	&__tabs {

		display: flex;
		margin: 24px -12px 60px;

		.btn {

			margin: 12px;

		}

	}

	&__btn {

		margin: 36px 0;

		.btn {

			background-color: #7b4865;

		}

		svg {

			position: absolute;
			top: -51px;
			right: -155px;

			@media ($mdWidth) {

				top: -46px;
				right: -166px;

			}

		}

	}

	&__note {

		color: var(--text);
		font-size: 16px;
		line-height: 24px;

		a {

			text-decoration: underline;
			color: #3F2D44;
			transition: var(--transitionDefault);

			@media ($desktop) {

				&:hover {

					text-decoration-color: transparent;

				}

			}

		}

	}

	&__img {

		position: relative;
		width: 400px;
		height: 480px;
		background-color: #f1e7d8;
		border-radius: 36px;

		@media ($mdWidth) {

			width: 696px;
			margin: 120px auto;

		}

	}

	&__bg {

		position: absolute;
		left: -213px;
		top: -30px;
		pointer-events: none;

		@media ($mdWidth) {

			left: -128px;
			right: 0;
			top: -180px;
			margin: auto;
			width: 839px;
			height: 762px;

		}

	}

	&__picture {

		position: absolute;
		left: -27px;
		bottom: 0;

		@media ($mdWidth) {

			left: -24px;
			right: 0;
			margin: auto;

		}

	}

}

@keyframes cursor {

	50% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}

}