.first-screen {

	position: relative;
	margin: 56px 0 150px;

	@media ($mdWidth) {

		margin: 100px 0;

	}

	@media ($smWidth) {

		margin: 16px 0;

	}

	&__wrap {

		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__content {

		max-width: 720px;

	}

	&__title {

		font-weight: bold;
		font-size: 60px;
		line-height: 72px;
		margin: 44px 0 24px;

		@media ($smWidth) {

			font-size: 48px;
			line-height: 58px;
			margin: 16px 0 11px;

		}

		span {

			color: transparent;
			position: relative;
			overflow: hidden;
			display: inline-block;
			vertical-align: bottom;

			&::after,
			&::before {

				position: absolute;
				top: 0;
				left: 0;
				content: attr(data-word-1);
				color: color(var(--color) a(50%));
				animation: dataWordOdd 10s infinite;
				animation-delay: 2s;

			}

			&::after {

				animation-name: dataWordEven;

			}

		}

		svg {

			display: inline;
			margin-left: 5px;

		}

	}

	&__tabs {

		display: flex;
		margin: 24px -12px 60px;

		@media ($smWidth) {

			margin: 0 -12px;
			overflow-x: auto;

		}

		@media ($xsWidth) {

			margin: 0 -10px;

		}

		.btn {

			margin: 12px;

		}

	}

	&__btn {

		margin: 36px 0;

		@media ($smWidth) {

			margin: 38px 0 23px;

		}

		.btn {

			background-color: #7b4865;

			@media ($smWidth) {

				width: 100%;
				max-width: 400px;

			}

		}

		svg {

			position: absolute;
			top: -51px;
			right: -155px;

			@media ($mdWidth) {

				top: -46px;
				right: -166px;

			}

			@media ($smWidth) {

				display: none;

			}

		}

	}

	&__note {

		color: var(--text);
		font-size: 16px;
		line-height: 24px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 17px;

		}

		a {

			text-decoration: underline;
			color: #3F2D44;
			white-space: nowrap;
			transition: var(--transitionDefault);

			@media ($desktop) {

				&:hover {

					text-decoration-color: transparent;

				}

			}

		}

	}

	&__img {

		position: relative;
		width: 400px;
		height: 480px;

		@media ($mdWidth) {

			width: 696px;
			max-width: 100%;
			margin: 120px auto;

		}

		@media ($smWidth) {

			margin: 90px 0 60px;
			height: 240px;

		}

		&-tab {

			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 36px;
			transition: var(--transitionDefault);
			transform: scaleY(1.2);

			&.is-active {

				opacity: 1;
				z-index: 1;
				transform: scaleY(1.0);

			}

		}

	}

	&__youtube {

		background-color: color(#B8893E a(20%));

	}

	&__exchange {

		background-color: color(#959F68 a(20%));

	}

	&__startup {

		background-color: color(#EB4504 a(20%));

	}

	&__podcast {

		background-color: color(#AB6E4D a(20%));

	}

	&__event {

		background-color: color(#3F2D44 a(20%));

	}

	&__bg {

		position: absolute;
		left: -213px;
		top: -30px;
		pointer-events: none;

		@media ($mdWidth) {

			left: -128px;
			right: 0;
			top: -180px;
			margin: auto;
			width: 839px;
			height: 762px;

		}

		@media ($smWidth) {

			width: 467px;
			height: 424px;
			top: -76px;
			left: -134px;

		}

		@media ($xsWidth) {

			left: -164px;

		}

	}

	&__picture {

		position: absolute;
		left: -27px;
		bottom: 0;

		@media ($mdWidth) {

			left: -24px;
			right: 0;
			margin: auto;

		}

	}

}

@keyframes dataWordOdd {

	0% {
		transform: translateY(0);
	}
	10% {
		opacity: 1;
		content: attr(data-word-1);
		transform: translateY(100%);
	}

	10.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	10.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	10.3% {
		opacity: 1;
		content: attr(data-word-3);
		transform: translateY(-100%);
	}

	20% {
		transform: translateY(0);
	}
	30% {
		opacity: 1;
		content: attr(data-word-3);
		transform: translateY(100%);
	}
	30.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	30.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	30.3% {
		opacity: 1;
		content: attr(data-word-5);
		transform: translateY(-100%);
	}

	40% {
		transform: translateY(0);
	}
	50% {
		opacity: 1;
		content: attr(data-word-5);
		transform: translateY(100%);
	}
	50.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	50.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	50.3% {
		opacity: 1;
		content: attr(data-word-2);
		transform: translateY(-100%);
	}

	60% {
		transform: translateY(0);
	}
	70% {
		opacity: 1;
		content: attr(data-word-2);
		transform: translateY(100%);
	}
	70.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	70.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	70.3% {
		opacity: 1;
		content: attr(data-word-4);
		transform: translateY(-100%);
	}

	80% {
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		content: attr(data-word-4);
		transform: translateY(100%);
	}
	90.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	90.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	90.3% {
		opacity: 1;
		content: attr(data-word-1);
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}

}

@keyframes dataWordEven {

	0% {
		opacity: 1;
		content: attr(data-word-2);
		transform: translateY(-100%);
	}
	10% {
		transform: translateY(0);
	}
	20% {
		opacity: 1;
		content: attr(data-word-2);
		transform: translateY(100%);
	}

	20.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	20.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	20.3% {
		opacity: 1;
		content: attr(data-word-4);
		transform: translateY(-100%);
	}

	30% {
		transform: translateY(0);
	}
	40% {
		opacity: 1;
		content: attr(data-word-4);
		transform: translateY(100%);
	}
	40.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	40.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	40.3% {
		opacity: 1;
		content: attr(data-word-1);
		transform: translateY(-100%);
	}

	50% {
		transform: translateY(0);
	}
	60% {
		opacity: 1;
		content: attr(data-word-1);
		transform: translateY(100%);
	}
	60.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	60.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	60.3% {
		opacity: 1;
		content: attr(data-word-3);
		transform: translateY(-100%);
	}

	70% {
		transform: translateY(0);
	}
	80% {
		opacity: 1;
		content: attr(data-word-3);
		transform: translateY(100%);
	}
	80.1% {
		opacity: 0;
		transform: translateY(100%);
	}
	80.2% {
		opacity: 0;
		transform: translateY(-100%);
	}
	80.3% {
		opacity: 1;
		content: attr(data-word-5);
		transform: translateY(-100%);
	}

	90% {
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		content: attr(data-word-5);
		transform: translateY(100%);
	}

}
