.footer {

	flex-shrink: 0;
	background-color: color(#f9f5f0 a(50%));
	margin: 24px;
	border-radius: 24px;
	padding: 36px 0;

	@media ($mdWidth) {

		margin: 12px;

		.center {

			padding: 0 24px;

		}

	}

	@media ($smWidth) {

		margin: 0;
		border-radius: 0;
		padding: 32px 0;

		.center {

			padding: 0 20px;

		}

	}

	&__box {

		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__left {

		width: 480px;
		max-width: 100%;
		display: flex;
		flex-direction: column;

	}

	&__text {

		font-size: 12px;
		line-height: 19px;
		color: #A096A2;

		@media ($mdWidth) {

			margin: 36px 0 26px;

		}

		@media ($smWidth) {

			margin: 24px 0;

		}

	}

	&__copyright {

		font-size: 12px;
		line-height: 20px;
		margin-top: auto;
		position: relative;
		padding: 6px 0 6px 44px;

		@media ($smWidth) {

			font-size: 10px;
			line-height: 12px;
			padding-left: 30px;

		}

		img {

			position: absolute;
			top: 0;
			left: 0;

			@media ($smWidth) {

				width: 24px;
				height: 24px;

			}

		}

	}

	&__right {

		@media ($desktop) {

			width: 540px;

		}

	}

	&__form {

		position: relative;
		padding-right: 132px;
		max-width: 480px;

		@media ($smWidth) {

			padding-right: 48px;

		}

		&-btn {

			position: absolute;
			right: 0;
			bottom: 0;

			@media ($smWidth) {

				font-size: 0;
				padding: 0;
				border-radius: 8px;
				color: transparent;
				width: 36px;
				height: 36px;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.782 7.333L7.206 3.757l.942-.942L13.334 8l-5.186 5.185-.942-.942 3.576-3.576H2.667V7.333h8.115z' fill='%23fff'/%3E%3C/svg%3E");

			}

		}

		&-label {

			display: block;
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			margin-bottom: -5px;

			@media ($smWidth) {

				font-size: 16px;

			}

		}

	}

	&__bottom {

		display: flex;
		align-items: center;
		margin-top: 48px;

		@media ($mdWidth) {

			margin: 26px 0;

		}

		@media ($smWidth) {

			display: block;
			margin-bottom: 12px;

		}

	}

	&__links {

		display: flex;

		li {

			margin-right: 12px;

		}

		a {

			display: block;
			font-weight: 500;
			font-size: 12px;
			line-height: 30px;
			border: 1px solid;
			border-radius: 24px;
			white-space: nowrap;
			padding: 0 12px;

			@media ($desktop) {

				&:hover {

					background-color: color(#f9f5f0 a(50%));

				}

			}

		}

	}

	&__social {

		@media ($smWidth) {

			margin: 24px -8px 12px;

		}

	}

}