.footer {

	flex-shrink: 0;
	color: #fff;
	position: relative;
	background-color: var(--DarkPurple);
	padding: 72px 0;

	@media ($mdWidth) {


	}

	@media ($smWidth) {

	}

	&__flex {

		display: flex;
		justify-content: space-between;

	}

	&__column {

		&--company {

			width: 200px;

		}

		&--legal {

			width: 300px;

		}

		&--about {

			margin-left: auto;
			width: 500px;

		}

	}

	&__head {

		margin-bottom: 12px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0.02em;

	}

	&__email {

		margin: 12px 0;
		font-weight: 600;
		font-size: 48px;
		line-height: 60px;

		a {

			color: var(--HoverCoral);

		}

	}

	&__menu {

		font-size: 14px;
		line-height: 24px;

		li {

			margin: 6px 0;

		}

		a {

			color: #fff;
			transition: var(--transitionDefault);

			&:hover {

				color: rgba(255, 255, 255, .5);

			}

		}

	}

	&__copyright {

		font-size: 12px;
		line-height: 20px;
		color: rgba(255, 255, 255, .6);
		margin: 24px 0;

		@media ($smWidth) {


		}

		@media ($xsWidth) {


		}

	}

	&__social {

		position: absolute;
		top: 0;
		right: 0;

	}

	&__tab {

		&-nav {

			display: flex;
			border-bottom: 1px solid rgba(255, 255, 255, .1);

		}

		&-item {

			overflow: hidden;
			max-height: 0;
			opacity: 0;
			transition: var(--transitionDefault);
			font-size: 14px;
			line-height: 24px;

			&.is-open {

				max-height: 1000px;
				opacity: 1;

			}

			a {

				text-decoration: underline;

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

}