.footer {

	flex-shrink: 0;
	color: #fff;
	position: relative;
	padding: 96px 0 104px;
	background-color: var(--DarkPurple);

	@media ($mdWidth) {


	}

	@media ($smWidth) {

	}

	&__flex {

		display: flex;
		justify-content: space-between;

	}

	&__column {

		&--company {

			width: 180px;

		}

		&--legal {

			width: 180px;

		}

		&--about {

			margin-left: auto;
			width: 540px;

		}

	}

	&__head {

		margin-bottom: 12px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0.02em;

	}

	&__menu {

		font-size: 14px;
		line-height: 24px;

		li {

			margin: 6px 0;

		}

		a {

			color: #fff;
			transition: var(--transitionDefault);

			&:hover {

				color: rgba(255, 255, 255, .5);

			}

		}

	}

	&__copyright {

		font-size: 12px;
		line-height: 20px;
		color: rgba(255, 255, 255, .6);

		@media ($smWidth) {


		}

		@media ($xsWidth) {


		}

	}

	&__bottom {

		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 42px;

	}

	&__tab {

		&-nav {

			display: flex;
			border-bottom: 1px solid color(var(--HoverCoral) a(20%));
			margin-bottom: 12px;
			padding-bottom: 12px;

		}

		&-btn {

			font-size: 14px;
			height: 24px;
			line-height: 24px;
			margin-right: 25px;
			color: #fff;

			&::after {

				position: absolute;
				height: 2px;
				left: 0;
				right: 0;
				bottom: -12px;
				content: '';
				background-color: var(--HoverCoral);
				pointer-events: none;
				opacity: 0;
				transition: var(--transitionDefault);

			}

			&.is-open {

				color: var(--HoverCoral);

				&::after {

					opacity: 1;

				}

			}

		}

		&-item {

			opacity: 0;
			overflow: hidden;
			height: 0;
			visibility: hidden;
			transition: opacity var(--transitionDefault);
			font-size: 14px;
			line-height: 24px;

			&.is-open {

				opacity: 1;
				visibility: visible;
				height: auto;

			}

			a {

				color: var(--HoverCoral);
				padding-right: 22px;
				margin-left: 4px;
				background-position: right;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.67 3v1.33H3.33v7.34h7.34V8.33H12v4a.67.67 0 01-.67.67H2.67a.67.67 0 01-.67-.67V3.67A.67.67 0 012.67 3h4zM14 1v5.33h-1.33V3.28l-5.2 5.2-.94-.95 5.2-5.2H8.66V1H14z' fill='%23FCB49A'/%3E%3C/svg%3E");

			}

		}

	}

}