.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&[disabled] {

		pointer-events: none;

	}

}

.btn {

	padding: 0 60px;
	height: 100px;
	font-size: 24px;
	line-height: 100px;
	font-weight: 500;
	color: #fff;
	border-radius: 16px;
	background-color: var(--color);

	@media ($desktop) {

		&:hover {

			background-color: var(--color);

		}

	}

	@media ($smWidth) {

		font-size: 20px;
		height: 96px;
		line-height: 96px;
		padding: 0 48px;

	}

	&--middle {

		padding: 0 36px;
		height: 68px;
		font-size: 16px;
		line-height: 68px;
		border-radius: 8px;

	}

	&--medium {

		padding: 0 24px;
		height: 72px;
		font-size: 16px;
		line-height: 72px;

	}

	&--small {

		padding: 0 24px;
		height: 48px;
		font-size: 16px;
		line-height: 48px;
		border-radius: 8px;

	}

	&--white {

		color: var(--color);
		background-color: #fff;

		@media ($desktop) {

			&:hover {

				background-color: #fff;

			}

		}

	}

	&--tab {

		padding: 0 !important;
		height: 24px;
		font-size: 20px;
		line-height: 24px;
		border-radius: 0;
		color: color(var(--color) a(50%));
		background-color: transparent !important;

		@media ($smWidth) {

			font-size: 16px;
			height: 22px;
			line-height: 22px;

		}

		&::after {

			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: -8px;
			content: '';
			opacity: 0;
			background-color: var(--color);
			transition: var(--transitionDefault);

		}

		&.is-active {

			color: var(--color);

			&::after {

				opacity: 1;

			}

		}

		@media ($desktop) {

			&:hover {

				&::after {

					opacity: .5;

				}

			}

		}


	}

}

.input {

	height: 50px;
	line-height: 20px;

	padding: 15px 0;

	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	border: 0;
	border-radius: 0;

	border-bottom: 1px solid color(var(--color) a(20%));
	background-color: transparent;

	@media ($smWidth) {

		height: 46px;
		padding: 13px 0;

	}

	&::placeholder {

		color: var(--color);
		opacity: .3;

		@media ($smWidth) {

			font-size: 14px;

		}

	}

	&::-ms-clear {

		display: none;

	}

	@media ($desktop) {

		&:hover {

			border-bottom-color: var(--border);

			&::placeholder {



			}

		}

	}

	&:focus {

		outline: none;

		border-bottom-color: var(--border);

		&::placeholder {

			opacity: .5;

		}

	}

	&[disabled] {

		pointer-events: none;

	}

	&--error {

		color: var(--error);

	}

	&:invalid {

		box-shadow: none;

	}

	&--border {

		height: 68px;
		background-color: #ECEAED;
		border: 1px solid #C9C4CB;
		border-radius: 8px;
		font-size: 16px;
		line-height: 20px;
		padding: 24px;

		& + svg {

			position: absolute;
			top: 22px;
			right: 22px;
			fill: #fff;
			opacity: 0;
			pointer-events: none;

		}

		&::placeholder {

			opacity: .3;
			color: var(--color);

		}

		&:-webkit-autofill {

			animation-name: autofill;
			animation-fill-mode: both;

		}

		@media ($desktop) {

			&:hover {

				background-color: #fff;
				border-color: #C9C4CB;

			}

		}

		&:focus {

			border-color: #C9C4CB;
			background-color: #fff;

			&::placeholder {

				opacity: 1;

			}

		}

		&:invalid:not(:placeholder-shown):not(:focus) {

			border-color: var(--error);
			background-color: #fff;

			& + svg {

				fill: var(--error);
				opacity: 1;

			}

		}

		&:default {

			border-color: #C9C4CB;

		}

		&:valid:not(:focus) {

			border-color: var(--color) !important;
			background-color: #fff;

			& + svg {

				fill: var(--color);
				opacity: 1;

			}

		}

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #fff;

	}

}

.checkbox {

	display: block;
	position: relative;
	cursor: pointer;

	font-size: 14px;
	line-height: 20px;
	color: var(--text);

	&__input {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		display: block;
		padding: 2px 0 2px 36px;

		&::before {

			width: 22px;
			height: 22px;
			border-radius: 4px;
			position: absolute;
			background-color: #fff;
			border: 1px solid var(--color);
			top: 0;
			left: 0;
			content: '';

		}

		a {

			text-decoration: underline;

			@media ($desktop) {

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

	@media ($desktop) {

		&:hover &__label::before {



		}

	}

	&__input[type="checkbox"]:checked + &__label::before {

		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.379l6.895-6.895 1.06 1.06L7.502 13.5 2.728 8.727l1.06-1.06 3.713 3.712z' fill='%237B4865' stroke='%237B4865'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;

	}

}
