.btn,
.button,
.hs-button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&[disabled] {

		pointer-events: none;

	}

}

.btn,
.hs-button {

	padding: 0 36px;
	height: 96px;
	font-size: 20px;
	line-height: 96px;
	font-weight: 500;
	color: var(--HoverCoral);
	border-radius: 12px;
	background-color: var(--MainPurple);

	@media ($desktop) {

		&:hover {


		}

	}

	@media ($smWidth) {


	}

	&--arrow {

		padding-right: 116px;

		svg {

			position: absolute;
			top: 0;
			right: 36px;
			bottom: 0;
			margin: auto;
			fill: var(--HoverCoral);

		}

	}

	&--small {

		padding: 0 24px;
		height: 48px;
		font-size: 16px;
		line-height: 48px;
		border-radius: 8px;

		@media ($smWidth) {


		}

	}

}

.hs-input {

	height: 68px;
	line-height: 20px;

	padding: 24px;

	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	border-radius: 8px;

	border: 1px solid #C9C4CB;
	background-color: #fff;

	&::-ms-clear {

		display: none;

	}

	@media ($desktop) {

		&:hover {

			border-color: var(--color);

		}

	}

	&:focus {

		outline: none;
		border-color: var(--color);

	}

	&:disabled {

		pointer-events: none;

	}

	&:invalid {

		box-shadow: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #fff;

	}

}

.hs-form-field {

	margin: 24px 0;

	& > label {

		display: block;
		font-size: 16px;
		line-height: 22px;
		margin: 8px;

		.hs-form-required {

			color: var(--error);

		}

		@media ($smWidth) {

			font-size: 14px;

		}

	}

}

.hs_submit {

	margin-top: 24px;

	.hs-button {

		width: 100%;
		background-color: #7b4865;
		padding: 0 36px;
		height: 68px;
		font-size: 16px;
		line-height: 68px;
		border-radius: 8px;

	}

}

.hs-error-msg {

	color: var(--error);
	font-size: 14px;
	line-height: 16px;

}

.hs-form-booleancheckbox {

	display: block;
	position: relative;
	cursor: pointer;

	font-size: 14px;
	line-height: 20px;
	color: var(--text);

	.hs-form-required {

		color: var(--error);

	}

	@media ($desktop) {

		.hs-form-booleancheckbox-display:hover input[type="checkbox"] + span::before {

			border-color: var(--color);

		}

	}

	input[type="checkbox"] {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

		& + span {

			display: block;
			padding: 2px 0 2px 36px;

			&::before {

				width: 22px;
				height: 22px;
				border-radius: 4px;
				position: absolute;
				background-color: #fff;
				border: 1px solid #C9C4CB;
				top: 0;
				left: 0;
				content: '';

			}

			a {

				text-decoration: underline;

				@media ($desktop) {

					&:hover {

						text-decoration: none;

					}

				}

			}

		}

		&:checked + span::before {

			background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.379l6.895-6.895 1.06 1.06L7.502 13.5 2.728 8.727l1.06-1.06 3.713 3.712z' fill='%237B4865' stroke='%237B4865'/%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			border-color: var(--color);

		}

	}

}