.btn,
.button,
.hs-button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn,
.hs-button {

	padding: 0 36px;
	height: 96px;
	font-size: 20px;
	line-height: 96px;
	font-weight: 500;
	color: var(--HoverCoral);
	border-radius: 12px;
	background-color: var(--MainPurple);

	@media ($desktop) {

		&:hover {


		}

	}

	@media ($smWidth) {

		padding: 0 30px;
		height: 72px;
		font-size: 16px;
		line-height: 72px;

	}

	&--arrow {

		padding-right: 116px;
		text-align: left;

		svg {

			position: absolute;
			top: 0;
			right: 36px;
			bottom: 0;
			margin: auto;
			fill: var(--HoverCoral);
			stroke: var(--HoverCoral);

		}

	}

	&--outline {

		color: var(--MainPurple);
		background-color: transparent;
		box-shadow: inset 0 0 0 2px var(--MainPurple);

	}

	&--small {

		padding: 0 20px;
		height: 48px;
		font-size: 16px;
		line-height: 48px;
		border-radius: 8px;

		@media ($smWidth) {

			padding: 0 20px;
			height: 48px;
			font-size: 14px;
			line-height: 48px;

		}

	}

}

.hs-input {

	height: 72px;
	line-height: 24px;

	padding: 24px;

	font-size: 16px;
	font-weight: 300;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	border-radius: 12px;

	border: 1px solid color(var(--border) a(15%));
	background-color: #fff;

	&::-ms-clear {

		display: none;

	}

	&::placeholder {

		color: var(--color);
		opacity: .5;

	}

	@media ($desktop) {

		&:hover {

			border-color: var(--color);

		}

	}

	&:focus {

		outline: none;
		border-color: var(--color);

	}

	@media ($smWidth) {

		height: 60px;
		line-height: 20px;
		padding: 20px;

	}

	&:invalid:not(:placeholder-shown):not(:focus) {

		border-color: var(--error);

	}

	&:valid:not(:focus) {

		border-color: var(--color);

	}

}

.hs-form-field {

	& + & {

		margin-top: 12px;

	}

	& > label {

		display: none;

	}

}

.hs_submit {

	margin-top: 24px;
	position: relative;

	&::after {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		right: 36px;
		bottom: 0;
		margin: auto;
		pointer-events: none;
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fcb49a' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M8.74 3.07l6.3 6.3H1.89v1.57H15l-6.26 6.28 1.1 1.12 8.18-8.18-8.18-8.18-1.1 1.1z' stroke-width='.3'/%3E%3C/svg%3E");

	}

	.hs-button {

		width: 100%;
		text-align: left;

	}

}

.hs-error-msgs {

	color: var(--error);

}

.hs-error-msg {

	font-size: 14px;
	line-height: 20px;

}

.submitted-message {

	text-align: center;
	margin: 36px 0;
	font-size: 16px;
	font-weight: 500;
	color: var(--HoverCoral);

}

.hs-form-booleancheckbox-display {

	display: block;
	position: relative;
	cursor: pointer;
	margin-top: 24px;

	font-size: 14px;
	line-height: 20px;
	color: var(--SecondaryPurple);

	.hs-form-required {

		color: var(--error);

	}

	@media ($desktop) {

		.hs-form-booleancheckbox-display:hover input[type="checkbox"] + span::before {

			border-color: var(--color);

		}

	}

	input[type="checkbox"] {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

		& + span {

			display: block;
			padding: 2px 0 2px 36px;

			&::before {

				width: 22px;
				height: 22px;
				border-radius: 4px;
				position: absolute;
				background-color: #fff;
				border: 1px solid color(var(--border) a(15%));
				top: 0;
				left: 0;
				content: '';

			}

			a {

				text-decoration: underline;
				color: var(--color);

				@media ($desktop) {

					&:hover {

						text-decoration: none;

					}

				}

			}

		}

		&:checked + span::before {

			background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.38l6.9-6.9 1.06 1.06L7.5 13.5 2.73 8.73l1.06-1.06 3.71 3.7z' fill='%2338303A' stroke='%2338303A'/%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			border-color: var(--border);

		}

	}

}