.header {

	position: sticky;
	z-index: 9;
	background-color: var(--bg);
	top: -15px;
	padding: 30px 0 15px;
	margin-bottom: 15px;

	@media ($smWidth) {

		top: -10px;
		padding: 20px 0 10px;
		margin-bottom: 10px;

	}

	.center {

		display: flex;
		align-items: center;
		justify-content: space-between;

		@media ($mdWidth) {

			width: 100%;

		}

	}

	&__logo {

		@media ($smWidth) {

			img {

				width: 90px;
				height: 30px;

			}

		}

	}

	&__btns {

		display: flex;

		.btn {

			margin-left: 20px;

		}

	}

}