.header {

	position: relative;
	padding: 30px 0;

	@media ($smWidth) {

		padding: 20px 0;

	}

	.center {

		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__logo {

		@media ($smWidth) {

			img {

				width: 90px;
				height: 30px;

			}

		}

	}

	&__btns {

		@media ($xsWidth) {

			.btn {

				display: none;

			}

		}

	}

}