.modal {

	flex-grow: 1;
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 10;
	display: none;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 24px;

	@media ($smWidth) {

		padding: 20px;

	}

	@media ($xsWidth) {

		padding: 10px;

	}

	&__box {

		width: 504px;
		max-width: 100%;
		position: relative;

	}

	&__item {

		position: relative;
		padding: 72px;
		border-radius: 20px;
		background-color: #fff;

		@media ($smWidth) {

			padding: 20px;
			border-radius: 12px;

		}

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: 0.9;
			z-index: 9;
			background-color: #251B28;

		}

	}

}