.page-text {

	margin: 90px 0;

	@media ($smWidth) {

		margin: 30px 0 40px;

	}

	&__header {

		margin-bottom: 40px;

		@media ($smWidth) {

			margin: 0;

		}

		p {

			font-size: 12px;
			line-height: 20px;
			margin: 10px 0;

		}

	}

	h1 {

		font-size: 48px;
		line-height: 60px;

		@media ($smWidth) {

			font-size: 36px;
			line-height: 40px;

		}

	}

	h2 {

		font-size: 24px;
		line-height: 30px;
		margin: 40px 0 20px;

		@media ($smWidth) {

			margin: 30px 0 20px;
			font-size: 20px;
			line-height: 24px;

		}

	}

	&__body {

		@media ($smWidth) {

			font-size: 14px;
			line-height: 20px;

			p {

				margin: 20px 0;

			}

			li {

				margin: 20px 0;

			}

		}

		h2 + p,
		h2 + ul li {

			margin-top: 0;

		}

		b {

			color: var(--color);
			font-weight: 600;

		}

		p {

			margin: 25px 0;
			color: var(--text);

		}

		ul {

			margin-left: 25px;

			li {

				margin: 25px 0;
				padding-left: 20px;
				color: var(--text);

				&::before {

					position: absolute;
					width: 6px;
					height: 6px;
					top: 10px;
					left: 0;
					content: '';
					border-radius: 50%;
					background-color: var(--color);

				}

			}

		}

		a {

			color: var(--color);
			text-decoration: underline;

			@media ($desktop) {

				&:hover {

					text-decoration: none;

				}

			}

		}

		.text-big-transform {

			text-transform: uppercase;
			font-size: 24px;
			line-height: 29px;
			color: #7B4865;
			font-weight: 700;
			margin: 40px 0;

			@media ($smWidth) {

				font-size: 20px;
				line-height: 24px;

			}

		}

		.text-medium-transform {

			text-transform: uppercase;
			font-size: 20px;
			line-height: 24px;
			color: #7B4865;
			margin: 40px 0;

			@media ($smWidth) {

				font-size: 20px;
				line-height: 24px;

			}

		}

		table {

			ul, li {

				margin: 0;

			}

			li::before {

				width: 4px;
				height: 4px;
				background-color: var(--text);

			}

		}

		.table-numeric {

			width: 100%;
			margin: 25px 0;

			&__col-2 {

				width: 300px;

				@media ($smWidth) {

					width: auto;

				}

				@media ($xsWidth) {

					padding-right: 0 !important;

				}

			}

			&__level-1 {

				width: 60px;
				font-weight: 700 !important;

				@media ($smWidth) {

					width: auto;

				}

				@media ($xsWidth) {

					padding-right: 8px !important;

				}

			}

			&__level-2 {

				font-weight: 400 !important;
				padding: 0 !important;

				& ~ td {

					padding: 0 !important;

				}

			}

			td, th {

				text-align: left;
				vertical-align: top;
				padding: 12px 12px 12px 0;

				&:last-child {

					padding-right: 0;

				}

			}

			td {

				color: var(--text);

			}

		}

	}

}

.scroll-up {

	position: fixed;
	width: 80px;
	height: 80px;
	background-color: #3F2D44;
	border-radius: 50%;
	right: 20px;
	top: 33%;
	z-index: 8;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {

		fill: #fff;
		stroke: #fff;

	}

	@media ($smWidth) {

		width: 40px;
		height: 40px;

	}

}