.platform {

	&__bg {

		padding: 180px 0;
		color: #fff;
		background-color: var(--DarkPurple);
		border-radius: 24px;

	}

	&__title {

		width: 500px;
		margin-bottom: 48px;

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&-item {

			width: 336px;
			margin-top: 24px;
			font-size: 18px;
			line-height: 30px;
			display: flex;
			align-items: center;

		}

		&-ico {

			width: 60px;
			height: 60px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--HoverCoral);
			margin-right: 16px;
			flex-shrink: 0;

			svg {

				fill: var(--color);

			}

		}

	}

}