.process {

	margin: 144px 0 96px;

	@media ($mdWidth) {

		margin: 120px 0;

	}

	@media ($smWidth) {

		margin: 60px 0 48px;

	}

	&__title {

		font-weight: bold;
		font-size: 60px;
		line-height: 72px;
		margin-bottom: 46px;

		@media ($smWidth) {

			font-size: 48px;
			line-height: 58px;
			margin-bottom: 38px;

		}

	}

	&__box {

		display: flex;
		align-items: flex-start;

	}

	&__left {

		width: 410px;
		height: 452px;
		flex-shrink: 0;
		position: relative;
		margin-top: 30px;

	}

	&__right {

		padding-left: 130px;

		@media ($mdWidth) {

			padding-left: 30px;

		}

	}

	&__btn {

		font-size: 18px;
		line-height: 36px;
		color: var(--color);
		padding-left: 48px;
		margin: 24px 0;
		opacity: .5;

		&-ico {

			position: absolute;
			width: 36px;
			height: 36px;
			top: 0;
			left: 0;
			border-radius: 50%;
			color: #fff;
			line-height: 36px;
			text-align: center;
			font-size: 15px;
			font-weight: 500;
			background-color: #3F2D44;

		}

		@media ($desktop) {

			&:hover {

				opacity: 1;

			}

		}

		&.is-active {

			opacity: 1;

		}

	}

	&__swiper {

		position: relative;

		&-progress {

			position: absolute;
			top: 80px;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
			font-size: 14px;
			pointer-events: none;

		}

		&-sep,
		&-total {

			color: #9F96A2;

		}

		.swiper-container:not(.swiper-container-initialized) .swiper-slide + .swiper-slide {

			display: none;

		}

	}

	&__item {

		text-align: center;

		&-head {

			font-size: 16px;
			line-height: 24px;
			color: var(--color);

		}

		&-number {

			width: 30px;
			height: 30px;
			border-radius: 50%;
			color: #fff;
			line-height: 30px;
			text-align: center;
			font-size: 15px;
			font-weight: 500;
			background-color: #3F2D44;
			display: block;
			margin: 0 auto 12px;

		}

		img {

			margin: 100px auto 0;
			display: block;

		}

	}

}