.request {

	margin: 180px 0;

	@media ($smWidth) {

		margin: 60px 0;

	}

	&__box {

		display: flex;
		justify-content: space-between;

		@media ($smWidth) {

			display: block;

		}

	}

	&__content {

		width: 500px;

		@media ($smWidth) {

			width: auto;

		}

	}

	&__title {

		display: flex;
		flex-wrap: wrap;

		&-item {

			white-space: nowrap;
			position: relative;

			&--bg-left {

				margin-left: 5px;
				padding-left: 7px;
				background-image: linear-gradient(to right, color(var(--HoverCoral) a(50%)), rgba(255, 255, 255, 0));
				border-radius: 8px;

				@media ($smWidth) {

					margin-left: 2px;

				}

			}

			&--bg-right {

				padding-right: 12px;
				background-image: linear-gradient(to left, color(var(--HoverCoral) a(50%)), rgba(255, 255, 255, 0));
				border-radius: 8px;

				@media ($smWidth) {

					padding-right: 8px;

				}

			}

		}

	}

	&__form {

		width: 400px;
		margin-right: 68px;

		@media ($smWidth) {

			width: auto;
			margin: 36px 0;

		}

		.input + .input {

			margin-top: 12px;

		}

		.btn {

			margin-top: 24px;
			width: 100%;

		}

	}

}