.breadcrumbs {

	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: var(--blue);

	&__item {

		display: flex;
		align-items: center;

		&:last-child::after {

			display: none;

		}

		&::after {

			content: "";
			margin: 0 15px;
			width: 8px;
			height: 14px;
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.4' d='M4.95 7L0 2.05 1.414.636 7.778 7l-6.364 6.364L0 11.95 4.95 7z' fill='%23000001'/%3E%3C/svg%3E");

		}

		a {

			color: var(--color);

		}

	}

}