.social {

	display: flex;

	&__item {

		margin: 0 12px;

		@media ($smWidth) {

			margin: 0 8px;

		}

	}

	&__link {

		width: 24px;
		height: 24px;
		display: block;

		@media ($smWidth) {

			width: 20px;
			height: 20px;

			svg {

				width: 100%;
				height: 100%;

			}

		}

	}

}