.social {

	display: flex;

	&__item {

		margin-left: 24px;

	}

	&__link {

		width: 24px;
		height: 24px;
		display: block;

		svg {

			fill: #fff;

		}

		&:hover svg {

			opacity: .5;

		}

		@media ($smWidth) {


		}

	}

}