:root {

	--color: #412e46;
	--text: #7e7e7e;
	--error: #f00;
	--bg: #f3ebe2;
	--blue: blue;
	--border: #412e46;
	--green: green;
	--transitionDefault: .3s;

}

$desktop: (min-width: 1200px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);