:root {

	--color: #38303a;
	--error: #db2f2f;
	--bg: #fff;
	--border: #412e46;
	--DarkPurple: #412e46;
	--MainPurple: #7b4865;
	--SecondaryPurple: #a096a2;
	--HoverCoral: #fcb49a;
	--Orange: #ff9a3d;
	--transitionDefault: .3s;

}

$desktop: (min-width: 1200px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);