.why-we {

	position: relative;
	margin: 90px 0;

	&::before {

		position: absolute;
		height: 967px;
		top: -100px;
		left: 0;
		right: 0;
		content: '';
		pointer-events: none;
		z-index: -1;
		background-repeat: no-repeat;
		background-position: top;
		background-image: url(/img/why-we/bg.svg);

	}

	@media ($mdWidth) {

		margin: 68px 0 155px;

		&::before {

			height: 1265px;
			top: -76px;
			background-image: url(/img/why-we/bg--table.svg);

		}

	}

	@media ($smWidth) {

		margin: 58px 0 192px;
		margin-bottom: 58px;

		&::before {

			height: 1265px;
			top: -58px;
			background-image: url(/img/why-we/bg--mobile.svg);

		}

	}

	&__title {

		padding: 40px 0 286px;
		color: #fff;

		u {

			color: #fff;

		}

		@media ($mdWidth) {

			padding: 40px 0 284px;

		}

		@media ($smWidth) {

			padding: 40px 0 168px;

		}

	}

	&__list {

		display: flex;
		font-size: 16px;
		line-height: 25px;
		margin: -15px;

		@media ($mdWidth) {

			flex-wrap: wrap;

			li {

				width: calc(50% - 30px);

			}

		}

		@media ($smWidth) {

			margin: 0;
			display: block;

			li {

				width: 100%;
				padding: 20px;
				margin: 20px 0;

			}

			h3 {

				margin: 10px 0;
				font-size: 20px;
				line-height: 30px;

			}

			svg {

				width: 30px;
				height: 30px;

			}

		}

		li {

			width: 270px;
			padding: 30px;
			background-color: #fff;
			border-radius: 12px;
			margin: 15px;

		}

		h3 {

			margin: 20px 0 10px;
			font-size: 24px;
			line-height: 40px;
			font-weight: 500;

		}

		svg {

			fill: var(--blue);

		}

	}

	&__green {

		fill: var(--green);

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		img {

			position: absolute;
			top: 168px;
			left: 70px;

			@media ($mdWidth) {

				top: 185px;
				width: 580px;
				height: 382px;

			}

			@media ($smWidth) {

				top: 153px;
				left: -35px;
				width: 433px;
				height: 285px;

			}

		}

	}

}