{% set title = "Terms and conditions" %}

{% set description = "This Agreement sets out the terms and conditions on which we will provide you with Services from time to time." %}

{% set urlPage = "terms-and-conditions" %}

{% extends "template/base.html" %}

{% block content %}

{% set breadcrumbs = [title] %}

	<div class="center">

		<article class="page-text">

			<header class="page-text__header">

{% include "template/breadcrumbs.html" %}

				<h1>
					{{ title }}
				</h1>

				<p>
					Version: 3.0 (27.10.2020)
				</p>

			</header>

			<div class="page-text__body">

{% include urlPage + "/body.html" %}

			</div>

		</article>

	</div>

	<button class="scroll-up button" aria-label="scroll up" type="button">
		<svg width="18" height="18" viewBox="0 0 18 18">
			<path d="M9.777 4.828l5.364 5.364 1.414-1.414L8.777 1 .999 8.778l1.414 1.414 5.364-5.364V17h2V4.828z"/>
		</svg>
	</button>

{% endblock %}