{% set title = site %}

{% set description = "Velvet — your personalised collaboration and payments platform" %}

{% set urlMain = '' %}

{% set preloadImage = [
	{
		media: "(max-width: 767px)",
		img : "/img/first-screen/youtube/img--mobile@2x.webp"
	},
	{
		media: "(min-width: 768px) and (max-width: 1199px)",
		img : "/img/first-screen/youtube/img--tablet@2x.webp"
	},
	{
		media: "(min-width: 1200px)",
		img : "/img/first-screen/youtube/img.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/first-screen.html" %}
{% include "main/approach.html" %}
{% include "main/economy.html" %}
{% include "main/platform.html" %}
{% include "main/benefits.html" %}

{% endblock %}