{% set title = "Privacy Policy" %}

{% set description = "Velvet Finance Limited, registered at 85 Great Portland Street, Suite 1121, First Floor, London, W1W 7LT, UK, including its affiliates and subsidiaries (“VELVET”)" %}

{% set urlPage = "privacy-policy" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-text">

			<header class="page-text__header">

				<h1>
					{{ title }}
				</h1>

				<p>
					General Terms<br>Version: 2.0 <br>Last updated on 21/09/2020
				</p>

			</header>

			<div class="page-text__body">

{% include urlPage + "/body.html" %}

			</div>

		</article>

	</div>

{% endblock %}