{% set title = "Legal notifications" %}

{% set description = "The information contained on this website is for informational purposes only" %}

{% set urlPage = "legal-notifications" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="page-text">

			<header class="page-text__header">

				<h1>
					{{ title }}
				</h1>

				<p>
					Version: 3.0 (27.10.2020)
				</p>

			</header>

			<div class="page-text__body">

{% include urlPage + "/body.html" %}

			</div>

		</article>

	</div>

{% endblock %}